<!doctype html>
<html>
  <head>
    <title>{title}</title>
    <link rel="stylesheet/less" type="text/css" href="style/base.less">
    <script src="script/less.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="header-container">
        <div class="header-inner">
          <div class="global-status-container warning">
            <div class="global-status">
              <h1>{title}</h1>
            </div>
          </div>

          <div class="sites-container">
            <div class="sites">
              <ul class="site-column">
                <li class="site warning">Way To Walk</li>
                <li class="site">Way To Eat</li>
                <li class="site">Way To Sleep</li>
                <li class="site">Way To Speak</li>
              </ul>

              <ul class="site-column">
                <li class="site">Way To Walk</li>
                <li class="site">Way To Eat</li>
                <li class="site">Way To Sleep</li>
                <li class="site">Way To Speak</li>
              </ul>

              <ul class="site-column">
                <li class="site">Way To Walk</li>
                <li class="site warning">Way To Eat</li>
                <li class="site">Way To Sleep</li>
                <li class="site">Way To Speak</li>
              </ul>

              <ul class="site-column">
                <li class="site">Way To Walk</li>
                <li class="site">Way To Eat</li>
                <li class="site">Way To Sleep</li>
                <li class="site">Way To Speak</li>
              </ul>
            </div>
          </div>

          <div class="admin-bar-container">
            <div class="admin-bar">
              <div class="user">{if auth}Logged in as <b>{auth.username}</b>. <a href="/logout">Log out</a>{/if}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="column column-left">
          <div class="notification">
            <div class="notification-header">
              <div class="date">12/03/12</div>
              <div class="title">Fax You Later</div>
            </div>

            <div class="notification-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum commodo arcu, id elementum metus condimentum id. Sed blandit sem facilisis est adipiscing feugiat..</p>
            </div>
          </div>

          <div class="notification">
            <div class="notification-header">
              <div class="date">12/03/12</div>
              <div class="title">Fax You Later</div>
            </div>

            <div class="notification-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum commodo arcu, id elementum metus condimentum id. Sed blandit sem facilisis est adipiscing feugiat.</p>
            </div>
          </div>

          <div class="notification">
            <div class="notification-header">
              <div class="date">12/03/12</div>
              <div class="title">Fax You Later</div>
            </div>

            <div class="notification-body">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum commodo arcu, id elementum metus condimentum id. Sed blandit sem facilisis est adipiscing feugiat.</p>
            </div>
          </div>
        </div>

        <div class="column column-right">
          <div class="info-blurb">
            <p>Some things we want to say. Contact us at info@example.com.</p>
          </div>
        </div>
      </div>

    </div> <!-- end wrapper -->
  </body>
</html>
