<!doctype html>
<html>
  <head>
    <title>{settings.title}</title>
    <link rel="stylesheet/less" href="style/base.less">
    <script src="script/less.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="https://raw.github.com/timrwood/moment/1.6.2/min/moment.min.js"></script>
    <script src="script/base.js"></script>
    {if auth}
      <script src="https://raw.github.com/macek/jquery-to-json/master/jquery.to_json.js"></script>
      <script src="https://raw.github.com/gsf/whiskers.js/v0.2.3/dist/whiskers.min.js"></script>
      <script src="script/admin.js"></script>
    {/if}
  </head>
  <body>
    <div class="wrapper">
      <div class="header-container">
        <div class="header-inner">
          <div class="global-status-container{if not ok} warning{/if}">
            <div class="global-status">
              <h1>{settings.title}</h1>
            </div>
          </div>

          <div class="sites-container">
            <div class="sites">
              {for column in columns}
                <ul class="site-column">
                  {for site in column}
                    <li class="site{if not site.ok} warning{/if}">{site.name}</li>
                  {/for}
                </ul>
              {else}
                <ul class="site-column">
                  <li class="site warning">No sites!</li>
                  <li class="site">Or, At Least, None</li>
                </ul>
                <ul class="site-column">
                  <li class="site">Returned From</li>
                  <li class="site warning">{settings.checkUrl}</li>
                </ul>
                <ul class="site-column">
                  <li class="site">Anyway,</li>
                  <li class="site">You Should</li>
                </ul>
                <ul class="site-column">
                  <li class="site">Get It</li>
                  <li class="site">Running!</li>
                </ul>
              {/for}
            </div>
          </div>

          <div class="admin-bar-container">
            <div class="admin-bar">
              <div class="user">{if auth}Logged in as <b>{auth.username}</b>. <a href="/logout">Log out</a>{/if}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="column column-left">

          {if auth}
            <div class="notification-add">
              <form id="notification-add">
                <input type="hidden" name="user" value="{auth.username}">
                <div>
                  <input name="title" class="title" placeholder="title">
                </div>
                <div>
                  <textarea name="body" placeholder="write notification here"></textarea>
                </div>
                <div>
                  <input type="submit" value="Add">
                </div>
              </form>
            </div>
          {/if}

          <div id="notifications">
            {for notification in notifications}
              {>partials.notification}
            {else}
              <div class="notification">
                <div class="notification-header">
                  <div class="time">6/03/2012 3:59pm</div>
                  <div class="title">Fax You Later</div>
                  {if auth}
                    <div class="trash">
                      <form class="notification-delete">
                        <input type="hidden" name="notification" value="">
                        <input type="submit" value="Delete">
                      </form>
                    </div>
                  {/if}
                </div>

                <div class="notification-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum commodo arcu, id elementum metus condimentum id. Sed blandit sem facilisis est adipiscing feugiat.</p>
                </div>
              </div>

              <div class="notification">
                <div class="notification-header">
                  <div class="time">5/13/2012 3:59pm</div>
                  <div class="title">Fax You Later</div>
                  {if auth}
                    <div class="trash">
                      <form class="notification-delete">
                        <input type="hidden" name="notification" value="">
                        <input type="submit" value="Delete">
                      </form>
                    </div>
                  {/if}
                </div>

                <div class="notification-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum commodo arcu, id elementum metus condimentum id. Sed blandit sem facilisis est adipiscing feugiat.</p>
                </div>
              </div>
            {/for}
          </div>

        </div>

        <div class="column column-right">
          <div class="info-blurb">
            <p>{settings.infobox}</p>
          </div>
        </div>
      </div>

    </div> <!-- end wrapper -->
  </body>
</html>
